body {
  background-color: #000;
  text-align: center;
  font-family: Verdana;
}

.excursion {
  color: gray;
  font-size: 21px;
}
.header {
  color: white;
  font-weight: normal;
  font-size: 50px;
}
.guide {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
.device {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
.download {
  color: aquamarine;
  font-size: 16px;
}
